In [3]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('./laptop_price.csv', encoding='cp1251')
df.head(4)

   laptop_ID Company      Product  ...  OpSys  Weight Price_euros
0          1   Apple  MacBook Pro  ...  macOS  1.37kg     1339.69
1          2   Apple  Macbook Air  ...  macOS  1.34kg      898.94
2          3      HP       250 G6  ...  No OS  1.86kg      575.00
3          4   Apple  MacBook Pro  ...  macOS  1.83kg     2537.45

[4 rows x 13 columns]

In [9]:
df.tail()

      laptop_ID Company  ...  Weight Price_euros
1298       1316  Lenovo  ...   1.8kg       638.0
1299       1317  Lenovo  ...   1.3kg      1499.0
1300       1318  Lenovo  ...   1.5kg       229.0
1301       1319      HP  ...  2.19kg       764.0
1302       1320    Asus  ...   2.2kg       369.0

[5 rows x 13 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   object
 12  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB

In [12]:
df.describe()

         laptop_ID       Inches  Price_euros
count  1303.000000  1303.000000  1303.000000
mean    660.155794    15.017191  1123.686992
std     381.172104     1.426304   699.009043
min       1.000000    10.100000   174.000000
25%     331.500000    14.000000   599.000000
50%     659.000000    15.600000   977.000000
75%     990.500000    15.600000  1487.880000
max    1320.000000    18.400000  6099.000000

In [13]:
df.describe(include=[object])

       Company Product  TypeName  ...                    Gpu       OpSys Weight
count     1303    1303      1303  ...                   1303        1303   1303
unique      19     618         6  ...                    110           9    179
top       Dell  XPS 13  Notebook  ...  Intel HD Graphics 620  Windows 10  2.2kg
freq       297      30       727  ...                    281        1072    121

[4 rows x 10 columns]

In [16]:
df['OpSys'].unique()

array(['macOS', 'No OS', 'Windows 10', 'Mac OS X', 'Linux', 'Android',
       'Windows 10 S', 'Chrome OS', 'Windows 7'], dtype=object)

In [20]:
df['Company'].unique()

array(['Apple', 'HP', 'Acer', 'Asus', 'Dell', 'Lenovo', 'Chuwi', 'MSI',
       'Microsoft', 'Toshiba', 'Huawei', 'Xiaomi', 'Vero', 'Razer',
       'Mediacom', 'Samsung', 'Google', 'Fujitsu', 'LG'], dtype=object)

In [27]:
df.Company.unique

<bound method Series.unique of 0        Apple
1        Apple
2           HP
3        Apple
4        Apple
         ...
1298    Lenovo
1299    Lenovo
1300    Lenovo
1301        HP
1302      Asus
Name: Company, Length: 1303, dtype: object>

In [45]:
df['Company'].value_counts(normalize=False).head(3)

Company
Dell      297
Lenovo    297
HP        274
Name: count, dtype: int64

In [44]:
df['Company'].value_counts(normalize=True).head(3)

Company
Dell      0.227936
Lenovo    0.227936
HP        0.210284
Name: proportion, dtype: float64

### Ищем ноутбук с максимальной ценой

In [48]:
df['TypeName'] == 'Notebook' #булево маска - проверка соответсвия

0       False
1       False
2        True
3       False
4       False
        ...
1298    False
1299    False
1300     True
1301     True
1302     True
Name: TypeName, Length: 1303, dtype: bool

In [55]:
df[df['TypeName'] == 'Notebook'].head(2) # - применение булево фильтра к таблице

   laptop_ID Company   Product  ...       OpSys  Weight Price_euros
2          3      HP    250 G6  ...       No OS  1.86kg       575.0
5          6    Acer  Aspire 3  ...  Windows 10   2.1kg       400.0

[2 rows x 13 columns]

In [56]:
df[df['TypeName'] == 'Notebook'].describe()

         laptop_ID      Inches  Price_euros
count   727.000000  727.000000   727.000000
mean    643.276479   15.330536   782.078624
std     381.841542    0.991550   443.972330
min       3.000000   11.600000   196.000000
25%     312.500000   15.600000   469.005000
50%     617.000000   15.600000   691.000000
75%     982.000000   15.600000   979.000000
max    1320.000000   17.300000  4899.000000

In [59]:
df[df['TypeName'] == 'Notebook']['Price_euros']

2       575.00
5       400.00
10      393.90
11      344.99
13      498.90
         ...
1295    805.99
1297    720.32
1300    229.00
1301    764.00
1302    369.00
Name: Price_euros, Length: 727, dtype: float64

In [61]:
df[df['TypeName'] == 'Notebook']['Price_euros'].max() # максимальная цена ноутбука

4899.0

In [62]:
df[df['Price_euros'] == 4899.0] # отфильтрована таблица с максимальной ценой ноутбука

     laptop_ID Company       Product  ...       OpSys  Weight Price_euros
610        617  Lenovo  Thinkpad P51  ...  Windows 10   2.5kg      4899.0

[1 rows x 13 columns]

In [65]:
df[df['Price_euros'] == df[df['TypeName'] == 'Notebook']['Price_euros'].max()]

     laptop_ID Company       Product  ...       OpSys  Weight Price_euros
610        617  Lenovo  Thinkpad P51  ...  Windows 10   2.5kg      4899.0

[1 rows x 13 columns]

In [68]:
priceMax= df[df['TypeName'] == 'Notebook']['Price_euros'].max()
priceMax

4899.0

In [69]:
df[df['Price_euros'] == priceMax]

     laptop_ID Company       Product  ...       OpSys  Weight Price_euros
610        617  Lenovo  Thinkpad P51  ...  Windows 10   2.5kg      4899.0

[1 rows x 13 columns]

### Ищем ноутбук с самой маленькой диагональю

In [70]:
inchesMin= df[df['TypeName'] == 'Notebook']['Inches'].min()
inchesMin

11.6

In [75]:
df[df['Inches'] == inchesMin].head(2)

     laptop_ID Company          Product  ...       OpSys  Weight Price_euros
20          21    Asus  Vivobook E200HA  ...  Windows 10  0.98kg       191.9
314        319    Asus    VivoBook Flip  ...  Windows 10   1.1kg       275.0

[2 rows x 13 columns]

### Сколько стоит самый дорогой ноутбук у компании HP

In [82]:
df[(df['TypeName'] == 'Notebook') & (df['Company'] == 'HP')].head(2) # фильтрация по "И"

    laptop_ID Company Product  ...  OpSys  Weight Price_euros
2           3      HP  250 G6  ...  No OS  1.86kg       575.0
10         11      HP  250 G6  ...  No OS  1.86kg       393.9

[2 rows x 13 columns]

In [83]:
df[(df['TypeName'] == 'Notebook') & (df['Company'] == 'HP')]['Price_euros'].max()

2229.0