In [271]:
import pandas as pd
import numpy as np

In [272]:
df = pd.read_csv('./laptop_price.csv', encoding='cp1251')
df.head(3)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00

* Создать новый признак Cpu_Company, который будет содержать только название фирмы, которая произвела CPU

In [273]:
def nameOfCompanyFunction(CPUname: str):
    nameOfCompanyOutcome = CPUname.split(' ')[0]
    return nameOfCompanyOutcome

In [274]:
df['Cpu_Company'] = df['Cpu'].apply(nameOfCompanyFunction)

In [275]:
df['Cpu_Company'].value_counts()

Cpu_Company
Intel      1240
AMD          62
Samsung       1
Name: count, dtype: int64

* Создать новый признак Memory_Amount, который будет cодержать только количество Gb памяти без указания типа носителя

In [276]:
def memorySizeFunction(MemoryColumn: str):
    return int(float(MemoryColumn.split( )[0][:-2]))

In [277]:
memorySizeFunction('128GB Flash Storage	')

128

In [278]:
df['Memory_Amount'] = df['Memory'].apply(memorySizeFunction)

In [279]:
df['Memory_Amount'].value_counts()

Memory_Amount
256    508
1      250
128    177
512    140
500    132
32      45
64      17
2       16
16      10
180      5
240      1
8        1
508      1
Name: count, dtype: int64

* Создать новый признак Memory_Type, который будет содержать только тип носителя (HDD/SDD/др.)

In [280]:
df['Memory'].value_counts()

Memory
256GB SSD                        412
1TB HDD                          223
500GB HDD                        132
512GB SSD                        118
128GB SSD +  1TB HDD              94
128GB SSD                         76
256GB SSD +  1TB HDD              73
32GB Flash Storage                38
2TB HDD                           16
64GB Flash Storage                15
512GB SSD +  1TB HDD              14
1TB SSD                           14
256GB SSD +  2TB HDD              10
1.0TB Hybrid                       9
256GB Flash Storage                8
16GB Flash Storage                 7
32GB SSD                           6
180GB SSD                          5
128GB Flash Storage                4
512GB SSD +  2TB HDD               3
16GB SSD                           3
512GB Flash Storage                2
1TB SSD +  1TB HDD                 2
256GB SSD +  500GB HDD             2
128GB SSD +  2TB HDD               2
256GB SSD +  256GB SSD             2
512GB SSD +  256GB SSD             1
512GB SSD +  512GB SSD             1
64GB Flash Storage +  1TB HDD      1
1TB HDD +  1TB HDD                 1
32GB HDD                           1
64GB SSD                           1
128GB HDD                          1
240GB SSD                          1
8GB SSD                            1
508GB Hybrid                       1
1.0TB HDD                          1
512GB SSD +  1.0TB Hybrid          1
256GB SSD +  1.0TB Hybrid          1
Name: count, dtype: int64

In [281]:
def memoryTypeFunction(MemoryColumn: str):
    return MemoryColumn.split( )[1]

In [282]:
memoryTypeFunction('512GB SSD +  1.0TB Hybrid')

'SSD'

In [283]:
df['Memory_Type'] = df['Memory'].apply(memoryTypeFunction)

In [284]:
df['Memory_Type'].value_counts()

Memory_Type
SSD       843
HDD       375
Flash      75
Hybrid     10
Name: count, dtype: int64

* Удалите признаки Memory и ScreenResolution

In [285]:
df.drop(columns=['Memory','ScreenResolution']) #drop создает копию датафрейма, не меняет текущего

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,Intel Core i7 6500U 2.5GHz,4GB,Intel HD Graphics 520,Windows 10,1.8kg,638.00,Intel,128,SSD
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,Intel Core i7 6500U 2.5GHz,16GB,Intel HD Graphics 520,Windows 10,1.3kg,1499.00,Intel,512,SSD
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,Intel Celeron Dual Core N3050 1.6GHz,2GB,Intel HD Graphics,Windows 10,1.5kg,229.00,Intel,64,Flash
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,Intel Core i7 6500U 2.5GHz,6GB,AMD Radeon R5 M330,Windows 10,2.19kg,764.00,Intel,1,HDD
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,Intel Celeron Dual Core N3050 1.6GHz,4GB,Intel HD Graphics,Windows 10,2.2kg,369.00,Intel,500,HDD

In [286]:
df.drop(columns=['Memory','ScreenResolution'], inplace=True) #drop затирает при наличии inplace=True

In [287]:
df.head()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD

* Создайте признак SSD, который изначально равен 0

In [288]:
df['SSD'] = 0

* Поставьте в признаке SSD 1, если ноутбук действительно с типом носителя SSD

In [289]:
def checkIfSSD(MemoryType: str):
    if MemoryType == 'SSD':
        SSDstatus = 1
    else:
        SSDstatus = 0
    return SSDstatus

In [290]:
df['SSD'] = df['Memory_Type'].apply(checkIfSSD)

In [291]:
df.head(2)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD,1
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash,0

In [292]:
df.drop(columns=['SSD'], inplace=True)

In [293]:
df['SSD'] = 0
df.loc[df['Memory_Type'] == 'SSD', 'SSD'] = 1

In [294]:
df.head(2)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD,1
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash,0

* Уберите в признаке Weight значения 'kg' и поменяйте его тип данных на вещественный

In [295]:
def removeKg1(anystr: str):
    return float(anystr.rstrip('kg'))

In [296]:
def removeKg2(anystr: str):
    return float(anystr.replace('kg', ''))

In [297]:
df['Weight'] = df['Weight'].apply(removeKg2)

* Создайте датафрейм с клиентами:

clients = pd.DataFrame({
 'client_id': [45, 32, 67, 33, 43],
 'laptop_id': [506, 398, 710, 120, 1999]
})

In [298]:
clients = pd.DataFrame({
 'client_id': [45, 32, 67, 33, 43],
 'laptop_id': [506, 398, 710, 120, 1999]
})

In [299]:
clients

   client_id  laptop_id
0         45        506
1         32        398
2         67        710
3         33        120
4         43       1999

* Присоедините к таблице clients данные по ноутбукам через метод join

In [300]:
clients_id = clients.set_index('laptop_id')

In [301]:
clients_id.join(df)

,client_id,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
laptop_id,,,,,,,,,,,,,,,,
506,45,513.0,Asus,ZenBook UX510UX-CN211T,Notebook,15.6,Intel Core i7 7500U 2.7GHz,8GB,Intel HD Graphics 620,Windows 10,2.00,1224.0,Intel,256.0,SSD,1.0
398,32,405.0,Dell,Precision M5520,Workstation,15.6,Intel Core i7 7700HQ 2.8GHz,8GB,Nvidia Quadro M1200,Windows 10,1.78,2712.0,Intel,256.0,SSD,1.0
710,67,718.0,Lenovo,Legion Y520-15IKBN,Gaming,15.6,Intel Core i7 7700HQ 2.8GHz,8GB,Nvidia GeForce GTX 1050 Ti,Windows 10,2.50,1249.0,Intel,128.0,SSD,1.0
120,33,123.0,Acer,Spin 3,Notebook,15.6,Intel Core i3 7100U 2.4GHz,6GB,Intel HD Graphics 620,Windows 10,2.10,479.0,Intel,1.0,HDD,0.0
1999,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* Присоедините к таблице clients данные по ноутбукам через метод merge

In [312]:
merged = clients.merge(df, left_on='laptop_id', right_index=True, how='left')

In [314]:
merged

,client_id,laptop_id,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,45,506,513.0,Asus,ZenBook UX510UX-CN211T,Notebook,15.6,Intel Core i7 7500U 2.7GHz,8GB,Intel HD Graphics 620,Windows 10,2.00,1224.0,Intel,256.0,SSD,1.0
1,32,398,405.0,Dell,Precision M5520,Workstation,15.6,Intel Core i7 7700HQ 2.8GHz,8GB,Nvidia Quadro M1200,Windows 10,1.78,2712.0,Intel,256.0,SSD,1.0
2,67,710,718.0,Lenovo,Legion Y520-15IKBN,Gaming,15.6,Intel Core i7 7700HQ 2.8GHz,8GB,Nvidia GeForce GTX 1050 Ti,Windows 10,2.50,1249.0,Intel,128.0,SSD,1.0
3,33,120,123.0,Acer,Spin 3,Notebook,15.6,Intel Core i3 7100U 2.4GHz,6GB,Intel HD Graphics 620,Windows 10,2.10,479.0,Intel,1.0,HDD,0.0
4,43,1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* Найдите среднюю стоимость ноутбуков в зависимости от компании производителя

In [362]:
df.pivot_table(index=['Company'], values=['Price_euros'], aggfunc=['mean']).head()

                mean
         Price_euros
Company
Acer      626.775825
Apple    1564.198571
Asus     1104.169367
Chuwi     314.296667
Dell     1186.068990

* Найдите минимальную, среднюю и максимальную стоимости ноутбуков в зависимости от производителя процессора

In [375]:
df.pivot_table(index=['Cpu_Company'], values=['Price_euros'], aggfunc=['mean', 'min', 'max'],sort=False).head()

                    mean         min         max
             Price_euros Price_euros Price_euros
Cpu_Company
Intel        1152.214145       174.0      6099.0
AMD           560.638871       199.0      2199.0
Samsung       659.000000       659.0       659.0

In [378]:
df.groupby('Cpu_Company').agg({'Price_euros': ['mean', 'min', 'max']})

             Price_euros
                    mean    min     max
Cpu_Company
AMD           560.638871  199.0  2199.0
Intel        1152.214145  174.0  6099.0
Samsung       659.000000  659.0   659.0

* Постройте таблицу с подсчетом количества ноутбуков в данных в зависимости от производителя CPU и ОЗУ

In [376]:
*f.pivot_table(index=['Cpu_Company'], values=['Price_euros'], aggfunc=['count', 'min', 'max'],sort=False).head()

                  count         min         max
            Price_euros Price_euros Price_euros
Cpu_Company
Intel              1240       174.0      6099.0
AMD                  62       199.0      2199.0
Samsung               1       659.0       659.0

* Ноутбуков каких компаний и с каким процессором больше?
* С каким типом памяти и с каким объемом памяти больше ноутбуков?

In [388]:
pd.crosstab(index=df['Company'], columns=df['Cpu_Company'], normalize='index')

Cpu_Company       AMD     Intel   Samsung
Company
Acer         0.097087  0.902913  0.000000
Apple        0.000000  1.000000  0.000000
Asus         0.069620  0.930380  0.000000
Chuwi        0.000000  1.000000  0.000000
Dell         0.000000  1.000000  0.000000
Fujitsu      0.000000  1.000000  0.000000
Google       0.000000  1.000000  0.000000
HP           0.091241  0.908759  0.000000
Huawei       0.000000  1.000000  0.000000
LG           0.000000  1.000000  0.000000
Lenovo       0.053872  0.946128  0.000000
MSI          0.000000  1.000000  0.000000
Mediacom     0.000000  1.000000  0.000000
Microsoft    0.000000  1.000000  0.000000
Razer        0.000000  1.000000  0.000000
Samsung      0.000000  0.888889  0.111111
Toshiba      0.000000  1.000000  0.000000
Vero         0.000000  1.000000  0.000000
Xiaomi       0.000000  1.000000  0.000000